{% extends "layout.html" %}
{% block body %}

<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Quami Consumer Products</div>
        </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
	<div class="btn-group">
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Bihar
	  </button>
	  <div class="dropdown-menu">
	    <a class="dropdown-item" href="/up">UP</a>
	    <a class="dropdown-item" href="/delhi">Delhi NCR</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="/">Home</a>
	  </div>
	</div>
      <!-- Sidebar Toggler (Sidebar) -->
       <hr class="sidebar-divider my-0">
        <p></p>
    <hr class="sidebar-divider my-0">
	<div class="btn-group">
		  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Choose City
		  </button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="/patna">Patna</a>
		  </div>
		</div>
		<hr class="sidebar-divider my-0">
		<form style="text-align: center;" action="/bihar" method="POST">
            <div class="form-group">
                <label for="product_name" class="text-white">Add Product</label>
                <input type="text" class="form-control" id="product_name" name="product_name"
                       placeholder="Enter Product Name">
            </div>
            <div class="form-group">
                <label for="product_cost" class="text-white">Cost</label>
                <input type="number" step="'0.01" class="form-control" id="product_cost" name="product_cost">
            </div>
            <button type="submit" class="btn btn-primary" name="btn" value="add">Add</button>
        </form>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <a href="#product_table" class="d-block card-header py-3" data-toggle="collapse" role="button"
                           aria-controls="product_table">
                            <h6 class="m-0 font-weight-bold text-primary">Data Table</h6>

                        </a>
                        <div class="collapse" id="product_table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% for table in tables %}
                                    {{titles[loop.index]}}
                                    {{ table|safe }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow text-center">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Revenue of Product</h6>
                        </div>
                        <form class="needs-validation justify-content-center" method="POST">
                            <div class="form-row justify-content-center">
                                <div class="col-6 mb-3">
                                    <label for="start_date">Start Date</label>
                                    <input type="month" class="form-control" id="start_date"
                                           name="start_date" value="{{ssd if ssd}}" required>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="end_date">End Date</label>
                                    <input type="month" class="form-control" id="end_date"
                                           name="end_date" value="{{sed if sed}}" required>
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="col-6 mb-3">
                                    <label for="product_name">Product Name</label>
                                    <select class="form-control" id="product_revenue" name="product_revenue">
                                        {% for product in listOfPro %}
                                        <option value="{{product}}" SELECTED>{{product}}</option>
                                        {% endfor %}
                                        <option value="{{set_product}}" SELECTED>{{set_product}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 my-auto">
                                    <button class="btn btn-primary" type="submit" name="btn" value="revenue_product"
                                            id="click">
                                        Show
                                    </button>
                                </div>
                            </div>
                            <div class=" my-auto">
                                Total Revenue = {{revenue}}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="row">
                                <form class="needs-validation justify-content-center" method="POST">
                                    <div class="form-row justify-content-center">
                                        <div class="col-6 mb-3">
                                            <label for="start_date_p">Start Date</label>
                                            <input type="month" class="form-control" id="start_date_p"
                                                   name="start_date_p" value="{{psd if psd}}" required>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="end_date_p">End Date</label>
                                            <input type="month" class="form-control" id="end_date_p"
                                                   name="end_date_p" value="{{ped if ped}}" required>
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="col-md-6 my-auto">
                                            <button class="btn btn-primary" type="submit" name="btn"
                                                    value="revenue_product_p">
                                                Show
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="productPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                {% for i, j in data_state %}
                                <span class="mr-2">
                                  <i class="fas fa-circle " style="color:{{ j }}"></i> {{ i }}
                                </span>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="row">
                                <form class="needs-validation justify-content-center" method="POST">
                                    <div class="form-row justify-content-center">
                                        <div class="col-6 mb-3">
                                            <label for="start_date_c">Start Date</label>
                                            <input type="month" class="form-control" id="start_date_c"
                                                   name="start_date_c" value="{{csd if csd}}" required>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="end_date_c">End Date</label>
                                            <input type="month" class="form-control" id="end_date_c"
                                                   name="end_date_c" value="{{ced if ced}}" required>
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="col-md-6 my-auto">
                                            <button class="btn btn-primary" type="submit" name="btn"
                                                    value="revenue_product_c">
                                                Show
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="cityPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                {% for i, j in data_city %}
                                <span class="mr-2">
                                  <i class="fas fa-circle " style="color:{{ j }}"></i> {{ i }}
                                </span>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}



</script>
<script src="{{url_for('static',filename='vendor/chart.js/Chart.min.js')}}"></script>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("productPieChart");
var productPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: {{lp|safe}},
    datasets: [{
      data: {{list_revenue_product|safe}},
      backgroundColor: {{colors_state|safe}},
      hoverBackgroundColor: [],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});
var ctd = document.getElementById("cityPieChart");
var productPieChart = new Chart(ctd, {
  type: 'doughnut',
  data: {
    labels: {{list_city|safe}},
    datasets: [{
      data: {{list_revenue_city|safe}},
      backgroundColor: {{colors_city|safe}},
      hoverBackgroundColor: [],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});



</script>
{% endblock %}